
#services h1{

	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	color:#666666;
	border-bottom:3px solid #ed4040;
}
#services{
	margin-top:2%;
	padding:5%;
	padding-bottom: 2%;
	display: block;
	background-color: #F2F2F2;

}
#services h1{
	float: right;
}
#img{
	margin-top: 5%;
	
	text-align: center;
}
#services strong{
	display: block;
	margin-bottom: 5%;
	color:#666666;
	font-style: italic;
}
.textLogo{
	width:20%;
	margin-right: 5%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.textLogo h2{
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	color:#666666;
}
.textLogo p{
	color:#666666;
	font-style: italic;
	margin-top: 2%;
}