*{
	margin:0;
	padding: 0;
}
body{
	background-color: #F2F2F2;
	font-family: calibri;
}
a{
	text-decoration: none;
	color:white;
}
#chargement{
	background: #000F1C url('../images/loader.gif');
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
	border:1px solid #000F1C;
    height: 700px;
    width: 100%;
    color:#F2A103;
    text-align: center;
    font-size: 4em;
    visibility: visible;
}
#chargement-infos {
	text-align:right;
	white-space: nowrap;
	display: block;
	margin-top: 350px;
	border-bottom:4px solid #F2A103;
	text-shadow: 0 1px 0 #000;
	width: 0%;
}
#header{
	position: fixed;
	background-color: #000F1C;
	color: rgb(240,240,240);
	min-height: 34px;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	visibility: hidden;
}
.colorTitle{
	display: inline;
	color:#ed4040;
}
#title{
	float: left;
}
nav{
	float: right;
	text-align: right;
}
li{
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
}
nav a{
	padding: 15px;
	margin-right:-5px;
}
nav a:hover{
	background-color: #2AACD9;
	font-weight: bold;
}
nav a:active{
	background-color: #ed4040;
}
.activeMenu{
	background-color: #ed4040;	
}

#downScrow{
	position: absolute;
	width: 10%;
	margin-left:45%;
	margin-top: 36%;
	text-align: center;
	cursor: pointer;
	height: 10%;
	padding-top: 5%;
}






@media all and (max-width: 900px){
	#header{
		padding: 0;
		width: 100%;
	}
	#title{
		display: block;
		text-align: center;
		width: 100%;
	}
	nav{
		position: fixed;
		width:120px;
		text-align: center;
		background-color: #000F1C;
		top:0;
		bottom: 0;
		padding-top: 30%;
		z-index: -10;
	}
	nav li{
		display: block;
		width:120px;
		height: 30px;
	}
	nav a{
		display: block;
		padding: 0;
		padding-top:5px;
		width: 120px;
		height: 100%;
	}
	nav a:hover{

	}
	

}