*{
	margin:0;
	padding: 0;
}
body{
	background-color: #F2F2F2;
	font-family: calibri;
}
a{
	text-decoration: none;
	color:white;
}
#header{
	position: fixed;
	background-color: #000F1C;
	color: rgb(240,240,240);
	min-height: 34px;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	visibility: hidden;
}
.colorTitle{
	display: inline;
	color:#ed4040;
}
#title{
	float: left;
}
nav{
	float: right;
	text-align: right;
}
li{
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
}
nav a{
	padding: 15px;
	margin-right:-5px;
}
nav a:hover{
	background-color: #2AACD9;
	font-weight: bold;
}
nav a:active{
	background-color: #ed4040;
}
.activeMenu{
	background-color: #ed4040;	
}
#zoomHome{
	overflow: hidden;
}
#home{
	background: url('images/bureau.jpg');
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    height: 700px;
    width: 100%;
}
#zoomHome h2{
	position: absolute;
	text-shadow: 0 1px 0 #000;
	font-size: 2em;
	color: #F2F2F2;
	margin-top: 31%;
	width: 100%;
	text-align: center;
}
#zoomHome p{
	position: absolute;
	text-shadow: 0 1px 0 #000;
	font-size: 1.4em;
	color: #F2F2F2;
	margin-top: 38%;
	width: 100%;
	text-align: center;
}
#defilText{
	position: absolute;
	z-index: 20;
	width:100%;
	height: 25px;
	overflow: hidden;
	margin-top: 35%;
	text-align: center;
}
#defilText ul{
	width: 100%;
}
#defilText li{
	margin-bottom: 25px;
	font-style: italic;
	text-shadow: 0 1px 0 #000;
	display: block;
	text-transform: uppercase;
	font-size: 1.3em;
	color: #F2F2F2;
}
#downScrow{
	position: absolute;
	width: 10%;
	margin-left:45%;
	margin-top: 36%;
	text-align: center;
	cursor: pointer;
	height: 10%;
	padding-top: 5%;
}
#triangleBleu{
	border: 350px solid #000F1C;
	border-top : 350px solid transparent;
	border-right: 350px solid transparent;
	position: absolute;
	z-index: -10;

}
#about{
	display: block;
	min-height: 400px;
	padding-top: 100px;
}
#cercleProfil{
	border-radius:200px;
	width:20%;
	height: 270px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	margin-left: 5%;
	margin-top: 5%;
	padding: 5px;
	display: inline-block;
}
#imgProfil{
	border-radius:200px;
	width: 98%;
	height: 98%;
	overflow: hidden;
}
#textAbout{
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	margin-left: 5%;
	width: 60%;
	background-color: #F2F2F2;
	padding-bottom: 50px;
}
#textAbout h1,#textAbout h2{

	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	color:#666666;
	border-bottom:3px solid #ed4040;
}
#textAbout h1{
	float: right;
	margin-left:43%;
	margin-bottom: 2%;
}
#textAbout h2{
	display: inline-block;
	margin-bottom: 2%;
	margin-top: 2%;
}
cite {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display :block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 75px;
}
cite:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
cite p {
  display: inline;
  color: rgb(111,111,111);
	font-family: Raleway, sans-serif;
}
#about p{
	color: rgb(111,111,111);
}

#about a{
	color:#2AACD9;
}





@media all and (max-width: 900px){
	#header{
		padding: 0;
		width: 100%;
	}
	#title{
		display: block;
		text-align: center;
		width: 100%;
	}
	nav{
		position: fixed;
		width:120px;
		text-align: center;
		background-color: #000F1C;
		top:0;
		bottom: 0;
		padding-top: 30%;
		z-index: -10;
	}
	nav li{
		display: block;
		width:120px;
		height: 30px;
	}
	nav a{
		display: block;
		padding: 0;
		padding-top:5px;
		width: 120px;
		height: 100%;
	}
	nav a:hover{

	}
	#home{
	background: url('images/bureau.jpg') fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    height: 700px;
    width: 100%;
	}
	#zoomHome h2{
	position: absolute;
	text-shadow: 0 1px 0 #000;
	font-size: 2em;
	color: #F2F2F2;
	margin-top: 275px;
	width: 100%;
	text-align: center;
}
	#zoomHome p{
		position: absolute;
		text-shadow: 0 1px 0 #000;
		font-size: 1.4em;
		color: #F2F2F2;
		margin-top: 375px;
		width: 100%;
		text-align: center;
	}
	#defilText{
		position: absolute;
		z-index: 20;
		width:100%;
		height: 25px;
		overflow: hidden;
		margin-top: 335px;
		text-align: center;
	}
	#defilText ul{
		width: 100%;
	}
	#defilText li{
		margin-bottom: 25px;
		font-style: italic;
		text-shadow: 0 1px 0 #000;
		display: block;
		text-transform: uppercase;
		font-size: 1.3em;
		color: #F2F2F2;
	}
	#downScrow{
		position: absolute;
		width: 10%;
		margin-left:45%;
		margin-top: 36%;
		text-align: center;
		cursor: pointer;
		height: 10%;
		padding-top: 5%;
	}
	#container{
		margin-left:120px;
	}
	#cercleProfil{
	border-radius:200px;
	width:20%;
	max-height: 20%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	margin-left: 2%;
	margin-top: 5%;
	padding: 5px;
}
	#imgProfil{
		border-radius:200px;
		width: 98%;
		height: 98%;
		background-color: white;
		overflow: hidden;
	}

}